{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block name %}{{ user_name }}{% endblock %}
{% block balance %}{{ balance | usd }}{% endblock %}

{% block main %}

<form action="/change_password" method="post">
    <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg my-5">Current Password</label>
        <div class="col-sm-10 my-5">
            <input name="current_password" type="password" class="form-control form-control-lg"
                placeholder="Enter your current account password" autofocus>
        </div>
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg my-5">Enter New Password</label>
        <div class="col-sm-10 my-5">
            <input name="new_password" type="password" class="form-control form-control-lg"
                placeholder="Enter your new password">
        </div>
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg my-5">Confirm Password</label>
        <div class="col-sm-10 my-5">
            <input name="confirm_password" type="password" class="form-control form-control-lg"
                placeholder="Enter your current password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

{% endblock %}