{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block name %}{{ user_name }}{% endblock %}
{% block balance %}{{ balance | usd }}{% endblock %}

{% block main %}

{% if alert_message %}
<div class="alert alert-{{ alert_type }} d-flex justify-content-between align-items-center" role="alert">
    <span>{{ alert_message }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if length == 0 %}
<h3 class="display-4 text-center fw-bolder ">Currently you don't have any shares</h3>
<p><a href="/buy" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Start
        buying shares</a></p>
{% else %}

<h5 class="display-4 text-center fw-normal mb-5">
{% if hour >= 0 and hour <= 11 %}
Good Morning, {{ user_name }}
{% elif hour >= 12 and hour <= 16 %}
Good Afternoon, {{ user_name }}
{% elif hour >= 17 and hour <= 20 %}
Good Evening, {{ user_name }}
{% else %}
Welcome, {{ user_name }}
{% endif %}
</h5>

<table class="table table-striped border border-black">
    <thead class="table-dark">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
            <th scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(length) %}
        <tr>
            <th scope="row">{{ user_stocks[i]["symbol"] }}</th>
            <td>{{ user_stocks[i]["shares"] }}</td>
            {% if price[i] - prev_price[i] > 0 %}
            <td><span class="text-success fw-bolder">{{ price[i] | usd }} (+{{ '%.2f' | format(price[i] - prev_price[i])
                    }})</span></td>
            <td><span class="text-success fw-bolder">{{ total_price[i] | usd }} (+{{ '%.2f' |
                    format((user_stocks[i]["shares"] * price[i]) - (user_stocks[i]["shares"] * prev_price[i]))
                    }})</span></td>
            {% elif price[i] - prev_price[i] == 0 %}
            <td><span class="text-secondary fw-bolder">{{ price[i] | usd }} (+0.0)</span></td>
            <td><span class="text-secondary fw-bolder">{{ total_price[i] | usd }} (+0.0)</span></td>
            {% else %}
            <td><span class="text-danger fw-bolder">{{ price[i] | usd }} ({{ '%.2f' | format(price[i] - prev_price[i])
                    }})</span></td>
            <td><span class="text-danger fw-bolder">{{ total_price[i] | usd }} ({{ '%.2f' |
                    format((user_stocks[i]["shares"] * price[i]) - (user_stocks[i]["shares"] * prev_price[i]))
                    }})</span></td>
            {% endif %}
            <td>
                <div class="d-flex flex-column justify-content-center flex-md-row gap-3">
                    <form action="/set_symbol_redirect_sell" method="get">
                        <button name="symbol" value="{{ user_stocks[i]['symbol'] }}" type="submit" data-toggle="tooltip" title="Click to sell shares of {{ user_stocks[i]['symbol'] }}"
                            class="btn btn-sm btn-primary">Sell</button>
                    </form>
                    <form action="/set_symbol_redirect_buy" method="get">
                        <button name="symbol" value="{{ user_stocks[i]['symbol'] }}" type="submit" data-toggle="tooltip" title="Click to buy shares of {{ user_stocks[i]['symbol'] }}"
                            class="btn btn-sm btn-success">Buy</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table">
    <tr class="table-primary">
        <th scope="row"></th>
        <td></td>
        <td><b>Cash</b></td>
        <td><b>{{ cash | usd }}</b></td>
        <td></td>
    </tr>
    <tr class="table-primary">
        <th scope="row"></th>
        <td></td>
        <td><b>TOTAL</b></td>
        <td><b>{{ grand_total | usd }}</b></td>
        <td></td>
    </tr>
</table>
{% endif %}
{% endblock %}